body {
  font-family: 'Nunito', sans-serif;
  background-color: #f4f4f9;
}

.titulo {
  font-family: 'Bitcount Grid Double', sans-serif;
  font-size: 2.5rem;
  color: #d90429;
}

h2 {
  color: #333;
  font-weight: bold;
}

table th, table td {
  text-align: center;
}

.carousel img {
  max-height: 500px;
  object-fit: cover;
}

.carousel-item{

}

.carousel-parrilla .carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.carousel-inner img {
  max-height: 500px; /* ajustar altura máxima */
  object-fit: cover;
}



button{
  background-color: yellow;
}

.botonAceptar{
  background-color: green;
  color: white;
}

.botonAceptar:hover{
  background-color: darkturquoise;
  font-size: 100px;
}

#botonCancelar{
  background-color: red;
  color: white;
}

button:focus{
  background-color: chartreuse;
  font-size: 110px;
}

a {
  padding: 5px;
}

a:hover {
  background: red;
  color: white;
  text-decoration: none;
}

